.title {
	font-weight: 700;
	font-size: 32px;
	line-height: 32px;
	letter-spacing: 0.15px;
	color: #000;
}

.create_container {
	background: #ffffff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}
.add_block_text {
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.4px;
	color: rgba(0, 0, 0, 0.6);

	margin-left: 12px;
}
.help_text {
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	letter-spacing: 0.4px;
	color: rgba(0, 0, 0, 0.6);

	margin: 24px 0 8px;
}
