.section {
  margin-top: 82px;
  color: #000;
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color : #000;
}

.stats_number {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;

  opacity: 0.7;

  margin-left: 12px;
}

.comments_container {
  margin-top: 24px;
}

.comment {
  display: flex;
  margin-bottom: 18px;
    &_name {
      font-size: 12px;
      font-weight: 500;
      line-height: 12px;
    }
  &_date {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;

    opacity: 0.5;
    margin-left: 12px;
  }

  &_content {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #000;

    margin: 6px 0;
  }
  &_action {
    display: flex;
    align-items: flex-start;
    padding: 0;
    gap: 18px;
    opacity: 0.8;
    &_text {
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;

      opacity: 0.7;
    }
  }
}
