.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.auth_container {
  color: #000;
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.15px;
}
.noAccount {
  font-size: 16px;
  line-height: 100%;
  margin: 12px 0 29px;
}

.google {
  padding: 8px 90px;
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  &_text {
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.46px;
    text-transform: uppercase;
  }
}

.or_text {
  font-size: 14px;
  line-height: 120%;
  opacity: 0.5;
}

.line {
  border-top: 1px solid #000;
  width: 143px;
  opacity: 0.5;
}

.password_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}
.forgot_pass {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;

  opacity: 0.5;
  color: #000;
  text-decoration: none;
}
.reg_link {
  color: #000;
  font-size: 16px;
  line-height: 120%;
  opacity: 0.7;
}
.label_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;

  color: #000;

  margin-bottom: 8px;
}
