.recruiter_title {
	font-weight: 500;
	font-size: 16px;
}
.recruiter_pos {
	font-size: 14px;
	line-height: 120%;
	opacity: 0.7;
}
.more_title {
	font-weight: 700;
	font-size: 20px;
}
.seeMore {
	font-size: 12px;
	line-height: 122.5%;
	text-decoration-line: underline;
}