.container {
	background: #fbfbfb;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	padding: 11px 19px 11px 11px;
	margin: 12px 0;
}
.title {
	font-weight: 700;
	font-size: 12px;
	letter-spacing: -0.01em;
	margin-bottom: 4px;
}
.company {
	font-size: 12px;
	letter-spacing: -0.01em;
	color: #000000;
	opacity: 0.7;
}
.date {
	font-size: 12px;
	opacity: 0.5;
}